

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Descripcion Tarea</h5>
    <p class="card-text"><%= @todo.description %></p>
    <p class="card-text"><%= @todo.completed %></p>
  
    
<%= link_to "REGRESAR", todos_path  %>
    

   
  </div>
</div>